<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/articles/save">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo">
                    <br>
                    <textarea class="form-control" placeholder="Escreva o artigo aqui" name="body" id="article" rows="20"></textarea>
                    <br>
                    <h5>Selecione uma categoria: </h5>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                               <option value="<%= category.id %>"> <%= category.title %> </option> 
                        <% }) %>
                    </select>
                    <br> 
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include("../../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#article',
        language: 'pt_BR',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace weordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>